<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638746862442-sib2s4s19fhcshsnbbd1dbp8iqnm856m.apps.googleusercontent.com</string>
	<key>CLIENT_ID</key>
	<string>638746862442-ud80cb48rooul2nkqflflnku6i3iqk14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638746862442-ud80cb48rooul2nkqflflnku6i3iqk14</string>
	<key>API_KEY</key>
	<string>AIzaSyDX2hS-C8riiI4tZzLHFOHP2zAC5NxX2bE</string>
	<key>GCM_SENDER_ID</key>
	<string>638746862442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiki.lk.mv</string>
	<key>PROJECT_ID</key>
	<string>kiki-be55a</string>
	<key>STORAGE_BUCKET</key>
	<string>kiki-be55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:638746862442:ios:47e2bc95ef3a2a49</string>
	<key>DATABASE_URL</key>
	<string>https://kiki-be55a.firebaseio.com</string>
</dict>
</plist>
